@layer reset {
  /* 1. Use a more-intuitive box-sizing model */
  *, *::before, *::after {
    box-sizing: border-box;
  }

  /* 2. Remove default margin */
  * {
    margin: 0;
    padding: 0;
  }

  /* 3. Enable keyword animations */
  @media (prefers-reduced-motion: no-preference) {
    html {
      interpolate-size: allow-keywords;
    }
  }

  body {
    /* 4. Add accessible line-height */
    line-height: 1.6;
    /* 5. Improve text rendering */
    -webkit-font-smoothing: antialiased;
    min-block-size: 100vh;
  }

  h1, h2, h3, button, input, label {
    line-height: 1.1;
  }

  /* 6. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-inline-size: 100%;
  }

  /* 7. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }

  /* 8. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

  /* 9. Improve line wrapping */
  p, li {
    text-wrap: pretty;
  }

  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }

  /*
    10. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

  /*
  11. Lists
  */
  [role="list"], ul {
    list-style: none;
    padding: 0;
  }

  /*
  12. Elements that need to inherit
  */

  input,
  button,
  textarea,
  select {
    font: inherit;
  }

  a {
    text-decoration: none;
    color: inherit
  }
  
  img {
    display: block;
    width: 100%;
  }
}

@layer root {
  :root {
    --black: hsl(40, 9%, 6%);
    --red: hsl(0, 100%, 60%);
    --yellow: hsl(46, 100%, 86%);
    --white: hsl(0, 0%, 95%);

    --ff-heading: "Antonio", sans-serif;
    --ff-body: "Hanken Grotesk", sans-serif;

    --fs-300: 0.875rem;
    --fs-400: 1rem;
    --fs-500: 1.125rem;
    --fs-600: 1.25rem;
    --fs-700: 1.50rem;
    --fs-800: 2rem;
    --fs-900: 3.75rem;
    --fs-1000: 3.75rem;

    @media (width > 760px) {
      --fs-500: 1.25rem;
      --fs-600: 1.50rem;
      --fs-700: 2rem;
      --fs-800: 3rem;
      --fs-900: 5rem;
      --fs-1000: 7.5rem;
    }
  }

  :root {
    /* font sizes */
    --fs-heading-small: var(--fs-700);
    --fs-heading-regular: var(--fs-800);
    --fs-heading-large: var(--fs-900);
    --fs-heading-xl: var(--fs-1000);

    --fs-small: var(--fs-300);
    --fs-regular: var(--fs-400);
    --fs-medium: var(--fs-500);
    --fs-large: var(--fs-600);

    /* border radii */
    --br-1: 0.25rem;
    --br-2: 0.50rem;
    --br-3: 0.75rem;
  }
}

@layer base {
  html {
    font-family: var(--ff-body);
    line-height: 1.6;
  }

  body {
    background-color: var(--yellow);
    font-size: var(--fs-regular);
    color: var(--text-main);
  }

  h1, h2, h3, h4 {
    font-family: var(--ff-heading);
    font-weight: 700;
    color: var(--red);
  }

  img {
    border-radius: var(--br-3);
  }
}


/* footer */

.footerContainer {
  background-color: var(--red);
  padding: 2rem 1rem;
}

.footerContainer ul {
  display: flex;
  gap: 10px;
  margin: auto;
}

.footerContainer ul a svg {
  transition: 0.9s ease, 0.9s ease;
}

.footerContainer ul a svg:hover {
  fill: var(--black);
  transition: 0.9s ease, 0.9s ease;
}

/* .mobile-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 9999px;
  background-color: #1A1A1A;
  opacity: .75;
  z-index: 11;
} */

.hide {
  opacity: 0;
  width: 1px;
}

/* new */

@layer layout {
  .grid-flow {
    display: grid;
    gap: var(--grid-flow-gap, 1rem);
  }
  
  .section {
    --padding: 3.75rem;
    padding-block: var(--padding);
  
    @media (width > 760px) {
      --padding: 4rem;
  
      &[data-padding="compact"] {
        --padding: 2.5rem;
      }
    }
  }
  
  .wrapper {
    --wrapper-max-width: 2000px;
    max-width: var(--wrapper-max-width);
    margin-inline: auto;
    padding-inline: 1rem;
    /* using instead of calc on the max-width*/
    box-sizing: content-box;
  
    &[data-width="wide"] {
      --wrapper-max-width: 1330px;
    }
  
    &[data-width="narrow"] {
      --wrapper-max-width: 720px;
    }
  }
  
  .equal-columns {
    --equal-columns-gap: 1rem;
    display: grid;
    gap: var(--equal-columns-gap, 1rem);
    align-items: var(--equal-columns-vertical-alignment, stretch);

    img {
      object-fit: cover;
    }
  
    @media (width > 760px) {
      grid-auto-flow: column;
      grid-auto-columns: 1fr;
    }
  
    &[data-gap="large"] {
      --equal-columns-gap: 2rem;
    }
  
    &[data-alignment="centered"] {
      --equal-columns-vertical-alignment: center;
    }
  }

  .paragraph-margin {
    margin-block: 2rem;
  }
}

@layer components {

  .site-header {
    padding-block: 1rem;
    background-color: var(--red);
  }

  .site-header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem 1rem;
  }

  [aria-controls="primary-nav"] {
    display: none;

    @media (width < 760px) {
      display: block;
      z-index: 11;
      background: transparent;
      border: 0;
      cursor: pointer;

      img {
        border-radius: 0;
      }
    }
  }
  /* close mobile navigation button */
  .close {
    display: none;

    @media (width < 760px) {
      display: block;
      position: absolute;
      top: 7px;
      right: 7px;
      background: none;
      border: 0;
      color: var(--white);
    }
  }
  
  /* navigation */
  .primary-navigation {
    ul {
      display: flex;
      flex-wrap: wrap;
      gap: 0.5rem 1rem;
      font-family: var(--ff-heading);
      color: var(--white);
    }

    @media (width < 760px) {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 10;
      padding: 4rem;
      border-radius: 0 0 0 var(--br-3);
      border: 3px solid var(--yellow);
      border-top: 0;
      background-color: var(--red);
      font-size: var(--fs-large);
      font-weight: 700;
      text-transform: uppercase;
      z-index: 12;
      ul {
        flex-direction: column;
        gap: 0
      }
      li + li {
        margin-block-start: 1.5rem;
        padding-block-start: 1.5rem;
      }
    }
  }

  /* slideshow */

  .slideshow-wrapper {
    max-width: 100%;
    text-align: center;

    .slideshow {
      position: relative;
      width: 100%;
      overflow: hidden;
      border-radius: 12px;
      aspect-ratio: 16 / 9;

      .slide {
        display: none;
        width: 100%;
    
        img {
          width: 100%;
          height: auto;
          display: block;
          object-fit: cover;
          border-radius: 0;
        }
      }
    }

    .slide.active {
      display: block;
      animation: fade 1s ease;
    }
  }

  @keyframes fade {
    from { opacity: 0.3; }
    to { opacity: 1; }
  }

  /* slideshow controls */
  .controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 16px;
    gap: 20px;
  }

  .arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    transition: background 0.3s ease;
    z-index: 10;
    width: 60px;
    padding: 10px 14px;
    border-radius: 50%;
    border: 1px solid transparent;
    background: var(--red);
    color: var(--white);
    font-size: 24px;
    cursor: pointer;
  }

  .arrow:hover {
    border: 1px solid var(--red);
    background: var(--white);
    color: var(--red);
  }

  .arrow.prev {
    left: 16px;
  }

  .arrow.next {
    right: 16px;
  }

  .dots {
    display: flex;
    gap: 8px;

    .dot {
      display: inline-block;
      width: 14px;
      height: 14px;
      background-color: transparent;
      border-radius: 50%;
      border: 1px solid var(--red);
      cursor: pointer;
      transition: background-color 0.3s ease;
    }
    
    .dot.active {
      background-color: var(--red, #222);
    }
  }

  .button {
    display: inline-flex;
    padding: .5rem 1rem;
    border-radius: var(--br-2);
    color: var(--white);
    border: 2px solid transparent;
    background-color: var(--red);
    transition: background-color 0.4s;
    font-family: var(--ff-heading);
    font-size: var(--fs-medium);
    font-weight: 700;
    cursor: pointer;
  }

  .button:hover,
  .button:focus-visible {
    border: 2px solid var(--red);
    background-color: transparent;
    color: var(--black);
  }
}

@layer utilities {
  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    overflow: hidden;
    white-space: nowrap;
  }

  /* background colors */

  .background-accent-main {
    background-color: var(--red);
  }

  /* text alignment */

  .text-center {
    text-align: center;
  }

  /* font sizes */

 .font-size-heading-small {
  font-size: var(--fs-heading-small);
 }

 .font-size-heading-regular {
  font-size: var(--fs-heading-regular);
 }
 
 .font-size-heading-large {
  font-size: var(--fs-heading-large);
 }

 .font-size-heading-xl {
  font-size: var(--fs-heading-xl);
 }

 .font-size-small {
  font-size: var(--fs-small);
 }

 .font-size-regular {
  font-size: var(--fs-regular);
 }

 .font-size-medium {
  font-size: var(--fs-medium);
 }

 .font-size-large {
  font-size: var(--fs-large);
 }
  
 .border-radius-small {
  border-radius: var(--br-1);
 }

 .border-radius-regular {
  border-radius: var(--br-2);
 }

 .border-radius-large {
  border-radius: var(--br-3);
 }

 .white-heading {
  color: var(--white);
  margin-bottom: 1rem;
 }
}

/* 
 CAKE HTML
*/

.grid-container {
  display: flex;
  flex-wrap: wrap;
  padding: 4px;
}

.column {
  flex: 20%;
  max-width: 25%;
  padding: 5px 8px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.section_all.cakes {
  min-height: initial;
  padding-bottom: 20px;
}

@media (max-width: 1200px) {
  .column {
    flex: 40%;
    flex-wrap: wrap;
    max-width: 50%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 50%;
    max-width: 100%;
  }
}

/* ABOUT */

.section_all {
  position: relative;
  padding-top: 80px;
  padding-bottom: 80px;
  min-height: 100vh;
}

.section_title_all {
  margin-bottom: 40px;
  text-align: center;
}

.section_title_all h3 {
  font-weight: 700;
  margin-bottom: 15px;
}

.section_subtitle {
  line-height: 1.5;
  max-width: 550px;
  margin: 0 auto;
}

.vertical_content_manage {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.col-lg-6 {
  width: 50%;
  padding: 15px;
}

.about_header_main {
  margin-top: 30px;
}

.about_icon_box p.text_custom {
  font-size: 4rem;
  font-weight: 700;
}

.about_heading {
  margin-top: 1.5rem;
  font-size: 1.6rem;
}

.mt-3 {
  margin-top: 1rem;
  font-size: 1.6rem;
}

.mt-5 {
  margin-top: 3rem;
}

.about_content_box_all {
  padding: 28px;
  border-radius: 5px;
  margin-top: 30px;
}

.about_detail {
  padding: 20px;
  text-align: center;
}

.about_icon {
  height: 65px;
  width: 65px;
  line-height: 65px;
  display: inline-block;
  border-radius: 35px;
  box-shadow: 0 8px 20px -2px rgba(158, 152, 153, 0.5);
}

.about_detail h5 {
  font-weight: 700;
  margin-top: 1.5rem;
  text-transform: capitalize;
  color: var(--black);
}

.edu_desc {
  margin-top: 1rem;
  margin-bottom: 0;
}

.row.list-container {
  display: flex;
  justify-content: center;
}